<div class="wrapper">
  <div class="container">
    <header class="header">
      <img src="../../../../assets/logo.svg" alt="logo" routerLink="/" />
      <nav>
        <ul class="header__nav">
          <li><a href="#about">About</a></li>
          <li><a href="#interface">Interface</a></li>
          <li><a href="#price">Price</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li class="header__btn">
            <button class="btn btn__secondary btn__secondary--green" routerLink="/auth">
              <img
                src="../../../../assets/icons/arrow-to-corner-green-icon.svg"
                alt="arr-corner"
              />Log in<img
                src="../../../../assets/icons/arrow-to-corner-green-icon.svg"
                alt="arr-corner"
              />
            </button>
          </li>
          <li class="header__btn">
            <button class="btn btn__primary btn__primary--green" routerLink="/auth/signup">
              <img
                src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
                alt="arr-corner"
              />Sign up<img
                src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
                alt="arr-corner"
              />
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <h1 class="banner-text">
        Easy and fast <br />
        <span>W</span>ave <span>E</span>lectronic <span>M</span>ailing
      </h1>
      <div class="banner-btn">
        <div class="banner-btn-container">
          <button class="btn btn__primary btn__primary--green" routerLink="/auth">
            Log in
            <div class="banner-btn-arrow">
              <img
                src="../../../../assets/icons/arrow-right-icon.svg"
                alt="arr-corner"
              />
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <section class="advantages" id="about">
      <img src="../../../../assets/landing/landing-img-1.png" alt="img-1" />
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <div class="advantages-list-item-header">
            <h4 class="advantages-list-item-title">Encrypted messages</h4>
            <img src="../../../../assets/icons/code-icon.svg" alt="code-icon" />
          </div>
          <p class="advantages-list-item-text">
            Experience unparalleled data protection with state-of-the-art
            encryption technologies, ensuring your confidential information
            remains private
          </p>
        </li>
        <li class="advantages-list-item">
          <div class="advantages-list-item-header">
            <h4 class="advantages-list-item-title">Life organization</h4>
            <img
              src="../../../../assets/icons/folder-icon.svg"
              alt="folder-icon"
            />
          </div>
          <p class="advantages-list-item-text">
            Streamline your inbox with intelligent tools that filter out noise
            and automatically categorize important notifications into folders
          </p>
        </li>
        <li class="advantages-list-item">
          <div class="advantages-list-item-header">
            <h4 class="advantages-list-item-title">Unlimited storage</h4>
            <img
              src="../../../../assets/icons/storage-icon.svg"
              alt="storage-icon"
            />
          </div>
          <p class="advantages-list-item-text">
            Our tiered plans offer generous storage options to meet everyone's
            needs, from a basic free plan to expansive solutions for businesses
          </p>
        </li>
      </ul>
    </section>
    <section class="interface" id="interface">
      <div class="interface-text">
        <h3 class="interface-text-title">User-friendly interface</h3>
        <p class="interface-text-description">
          With our service, you'll enjoy managing and communicating with your
          mail!
        </p>
      </div>
      <ul class="interface-imgs">
        <li class="interface-imgs-item-1">
          <img
            src="../../../../assets/landing/interface-1.png"
            alt="inteface-1"
          />
        </li>
        <li class="interface-imgs-item-2">
          <img
            src="../../../../assets/landing/interface-2.png"
            alt="inteface-2"
          />
        </li>
      </ul>
    </section>
    <section class="advantages advantages-second">
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <div class="advantages-list-item-header">
            <h4 class="advantages-list-item-title">Seamless integration</h4>
            <img
              src="../../../../assets/icons/integration-icon.png"
              alt="integration-icon"
            />
          </div>
          <p class="advantages-list-item-text">
            Connect effortlessly with your preferred apps and services,
            streamlining your workflow right from your inbox
          </p>
        </li>
        <li class="advantages-list-item">
          <div class="advantages-list-item-header">
            <h4 class="advantages-list-item-title">
              Customizable email environment
            </h4>
            <img
              src="../../../../assets/icons/desktop-icon.svg"
              alt="desktop-icon"
            />
          </div>
          <p class="advantages-list-item-text">
            Craft your personalized email experience with our extensive
            customization options, enhancing both aesthetics and functionality
          </p>
        </li>
        <li class="advantages-list-item">
          <div class="advantages-list-item-header">
            <h4 class="advantages-list-item-title">
              AI-Driven Email <br />
              Assistant
            </h4>
            <img src="../../../../assets/icons/ai-icon.svg" alt="ai-icon" />
          </div>
          <p class="advantages-list-item-text">
            Leverage our smart AI tools to prioritize messages and manage your
            inbox efficiently, making email management a breeze
          </p>
        </li>
      </ul>
      <img src="../../../../assets/landing/landing-img-3.png" alt="img-3" />
    </section>
    <section class="pricing" id="price">
      <div class="pricing-header">
        <div class="pricing-header-left">
          <h3 class="pricing-header-title">Pricing plan</h3>
          <p class="pricing-header-description">
            Find the perfect fit and enjoy a 14-day free trial on all paid plans
          </p>
        </div>
        <div class="pricing-header-right">
          <div class="pricing-header-toggler">
            <div class="pricing-header-toggler-text">Monthly</div>
            <label class="pricing-header-toggler-label">
              <input class="pricing-header-toggler-input" type="checkbox" />
              <span class="pricing-header-toggler-span"></span>
            </label>
            <div class="pricing-header-toggler-text">Yearly</div>
          </div>
          <div class="pricing-header-hint">
            Save up to 50%
            <img src="../../../../assets/icons/hint-arrow-icon.svg" />
          </div>
        </div>
      </div>
      <ul class="pricing-cards">
        <li class="pricing-cards-item">
          <h4 class="pricing-cards-item-title">Basic</h4>
          <p class="pricing-cards-item-description">
            Perfect for individuals getting started, offering essential email
            features at no cost
          </p>
          <p class="pricing-cards-item-price"><span>$0</span> / month</p>
          <p class="pricing-cards-item-price-hint">Pause or cancel any time</p>
          <div class="pricing-cards-item-btn">
            <button class="btn btn__primary btn__primary--green">
              <img
                src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
                alt="arr-corner"
              />Start a free trial<img
                src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
                alt="arr-corner"
              />
            </button>
          </div>
          <ul class="pricing-cards-item-advatages">
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              15 GB of email storage
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              Standard encryption and spam protection
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              Full access to basic email functionalities, including sending and
              receiving emails, basic filters, and mobile app access
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              Access to online help center and community forums
            </li>
          </ul>
        </li>
        <li class="pricing-cards-item">
          <h4 class="pricing-cards-item-title">Pro Plan</h4>
          <p class="pricing-cards-item-description">
            Ideal for professionals and freelancers seeking more from their
            email service
          </p>
          <p class="pricing-cards-item-price"><span>$5.99</span> / month</p>
          <p class="pricing-cards-item-price-hint">Pause or cancel any time</p>
          <div class="pricing-cards-item-btn">
            <button class="btn btn__primary btn__primary--green">
              <img
                src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
                alt="arr-corner"
              />Start a free trial<img
                src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
                alt="arr-corner"
              />
            </button>
          </div>
          <ul class="pricing-cards-item-advatages">
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              50 GB of email storage and additional document storage
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              Advanced encryption for emails, including end-to-end encryption
              options. Two-factor authentication (2FA) for enhanced account
              security
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              Priority email delivery, customizable filters, email scheduling,
              and the ability to recall sent emails within a certain timeframe.
              Custom domain support
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              Priority customer support via email and live chat
            </li>
          </ul>
        </li>
        <li class="pricing-cards-item">
          <h4 class="pricing-cards-item-title">Business Plan</h4>
          <p class="pricing-cards-item-description">
            Boost your team's productivity and manage your operations more
            effectively
          </p>
          <p class="pricing-cards-item-price">
            <span>$12.99</span> / month per user
          </p>
          <p class="pricing-cards-item-price-hint">Pause or cancel any time</p>
          <div class="pricing-cards-item-btn">
            <button class="btn btn__primary btn__primary--green">
              <img
                src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
                alt="arr-corner"
              />Start a free trial<img
                src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
                alt="arr-corner"
              />
            </button>
          </div>
          <ul class="pricing-cards-item-advatages">
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              100 GB of email storage per user and shared document storage for
              the team
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              All the features of the Pro Plan with added organizational
              security controls and admin panel for user management
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              Includes all Pro features plus team collaboration tools, shared
              calendars, CRM integration, and advanced admin controls for
              managing user accounts and data
            </li>
            <li class="pricing-cards-item-advatages-item">
              <img
                src="../../../../assets/icons/pricing-tick-icon.svg"
                alt="arr-corner"
              />
              24/7 priority support with a dedicated account manager and phone
              support
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="faq" id="faq">
      <div class="faq-left">
        <h3 class="faq-title">
          Frequently Asked <br />
          Questions
        </h3>
        <div class="faq-btn">
          <button class="btn btn__primary btn__primary--green">
            Have a questions?
            <div class="faq-btn-arrow">
              <img
                src="../../../../assets/icons/arrow-right-icon.svg"
                alt="arr-corner"
              />
            </div>
          </button>
        </div>
      </div>
      <div class="faq-right">
        <app-accordion [items]="items"></app-accordion>
      </div>
    </section>
    <section class="last">
      <h3 class="last-title">
        Start using WEM right now with 14-day free trial!
      </h3>
      <ul class="last-controls">
        <li class="last-controls-btn">
          <button class="btn btn__secondary btn__secondary--green" routerLink="/auth">
            <img
              src="../../../../assets/icons/arrow-to-corner-green-icon.svg"
              alt="arr-corner"
            />Log in<img
              src="../../../../assets/icons/arrow-to-corner-green-icon.svg"
              alt="arr-corner"
            />
          </button>
        </li>
        <li class="last-controls-btn">
          <button class="btn btn__primary btn__primary--green" routerLink="/auth/signup">
            <img
              src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
              alt="arr-corner"
            />Sign up<img
              src="../../../../assets/icons/arrow-to-corner-white-icon.svg"
              alt="arr-corner"
            />
          </button>
        </li>
      </ul>
    </section>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <img src="../../../../assets/logo-footer.svg" alt="logo-footer" />
      <ul class="footer-content-text">
        <li class="footer-content-item">© 2024 WEM. All rights reserved</li>
        <li class="footer-content-item"><a href="#">Privacy</a></li>
        <li class="footer-content-item"><a href="#">Terms of use</a></li>
        <li class="footer-content-item"><a href="#">Cooking Policy</a></li>
      </ul>
      <div class="footer-contet-download">
        <a href="#"
          ><img src="../../../../assets/apple-store.svg" alt="apple-store"
        /></a>
        <a href="#"
          ><img src="../../../../assets/google-play.svg" alt="google-play"
        /></a>
      </div>
    </div>
  </div>
</footer>
