<div class="error">
  <div class="error-header-logo">
    <img
      class="error-header-logo-img"
      src="../../../../assets/logo-footer.svg"
      alt="logo-footer"
      routerLink="/"
    />
    <div class="error-header-logo-text">Wave Electronic Mailing</div>
  </div>

  <div class="error-container">
    <div class="error-header">
      <button class="error-header-back" routerLink="../">
        <img
          class="error-header-back-img"
          src="../../../../assets/chevron-back.svg"
          alt="chevron-back"
        />
        <div class="error-header-back-text">Back</div>
      </button>
      <div class="error-header-login">
        New here?
        <a routerLink="/auth">Sign up</a>
      </div>
    </div>
    <div class="error-info">
      <h3 class="error-info-subtitle">Page not found</h3>
      <h1 class="error-info-title">Error 404</h1>
      <p class="error-info-text">
        It looks like the page you were trying to access doesn't exist. This may
        be because the page has been moved or deleted
      </p>
      <div class="error-btns">
        <div class="error-btn">
          <button
            class="btn btn__secondary btn__secondary--green"
            routerLink="/"
          >
            Back
          </button>
        </div>
        <div class="error-btn">
          <button class="btn btn__primary btn__primary--green" routerLink="/">
            Go to home page
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
